<h4>This is test page</h4>

<form action="{% url 'firstapp:result' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h2>{{question.question_text}}</h2></legend>
        {% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}

        {% for choice in question.choice_set.all %}

        <!-- forloop.counter indicates how many times the for tag has gone through its loop -->
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id}}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }} </label>
        <br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>


<!---------------------------------------------------------------------------------------------------------------------->

<form action="{% url 'firstapp:test' %}" method="POST">
    {% csrf_token %}




</form>
<!--
<h3>{{question}}</h3>
<ul>
    {% for choice in question.choice_set.all %}
        <li>{{choice.choice_text}}</li>
    {% endfor %}
</ul>
-->