<!DOCTYPE html>
<html lang="en">
{% include "firstapp/head.html" %}
    <body class="col">
        <br><br><br>
        <div>Select the option that's more close to you! </div><br>

        <form action="{% url 'firstapp:test' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend><h3>{{question.question_text}}</h3></legend>
                <input type="hidden" name="question_id" value="{{question.id}}">
                <div class="form-check" role="group" >
                    <br><br><br>
                <div>
                {% for choice in question.choice_set.all %}
                    <!-- forloop.counter indicates how many times the for tag has gone through its loop -->
                    
                    
                    <label class="form-check-label" for="choice{{ forloop.counter }}"><input  type="radio" class="'form-check-input" autocomplete="off" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id}}">
                        {{ choice.choice_text }} </label>
                    
                    <br>
                {% endfor %}
                </div>
                </div>
            </fieldset>
            <br><br>
            <input class="btn-primary" type="submit" value="NEXT">
        </form>
        <form action="{% url 'firstapp:test' %}" method="POST">
            {% csrf_token %}
        </form>
        <br><br>
        {% include 'firstapp/footer.html' %}
    </body>
</html>